{% load static %}
<footer class="footer">
        <div class="container-footer">
                <div class="image-footer-item">
                     <img src="{% static "images/ept.png" %}" alt="" srcset="" class="image-footer">
                     <p class="copy">
                             © 2021 - Tous droits réservés Ecole Polytechnique de THIES 
                    </p>
                </div>

                <div class="hr"></div>

                <div class="actualite footer-item">
                    <h1 class="contact-footer">
                        Contacts
                    </h1>
                    <div>
                        <p>
                           Mail : ept@ept.sn
                        </p>
                        <p>
                           Postal : BP A10 ,Thiès, Sénégal
                        </p>
                        <p>
                           Téléphone : 00221 33 951 15 48
                        </p>
                        <p>
                           Fax : 00221 33 951 14 16
                        </p>
                    </div>
                </div>

                <div class="hr"></div>

                <div class="footer-item social-footer-item">
                    <h1 class="contact-footer">
                        Social
                    </h1>
                    
                    <div class="all-icons">
                        <div class="footer-icon-tel">
                            <img class="icon" src="{% static "images/instagrame.png" %}" alt="">
                        </div>
                        <div class="footer-icon-tel">
                            <img class="icon" src="{% static "images/facebook.png" %}" alt="">
                        </div>
                        <div class="footer-icon-tel">
                            <img class="icon" src="{% static "images/x.png" %}" alt="">
                        </div>
                        <div class="footer-icon-tel">
                            <img class="icon" src="{% static "images/youtube.png" %}" alt="">
                        </div>
                       
                    </div>
                    
                </div>
        </div>
        
    </footer>