{% load static %}
{% comment %} <div class="section" style="">
    <div class="contenu">
        <h1>Sagesse - Devoir</h1>
        <h3>
            l'ecole polytechnique de thies,connue sous le sigle EPT, est une
            grande ecole d'ingenieures implemanté au Sénégal . Créée en 1973
            par Léopold Sédar Senghor, elle forme des ingenieures dans les domaines du 
            génie civil, du génie éléctromecanique, (avec une filiére aéronotique) et 
            du génie informatique et télécommunications.
        </h3>
    </div>ò
    
</div> {% endcomment %}


<div class="drapeau">
    <div class="first">
    

   </div>
   <div class="second">
    

  </div> 
   <div class="last">
    

  </div>

</div>
